Creating a tsconfig.json

Run the following:

tsc --init
Copy
This will create the default tsconfig.json:

{
    "compilerOptions": {
        "module": "commonjs",
        "target": "es5",
        "noImplicitAny": false,
        "sourceMap": false
    },
    "exclude": [
        "node_modules"
    ]
}
Copy
module - the compiler will output whichever module type you enter here.
target - the JavaScript version you want to compile to. Someday, "es6" will be safe, but for now we mostly stick to "es5"
noImplicitAny - Enabling this forces you to add more types. The default allows the any type if something isn't typed.
sourceMap - Generates sourceMaps for debugging purposes
exclude - You don't want to compile .ts files in your node_modules dir, so this skips them during compilation by default.
With a tsconfig.json file defined, you can now run the compiler with a simple:

tsc
Copy
And it will compile every .ts file that's not excluded.

Compiling when files change

Run the following:

tsc -w
Copy
Now make the following change to your app.ts:

class DemoTwo{}
Copy
When you save, the tsc will output:

4:01:16 PM - File change detected. Starting incremental compilation...
4:01:16 PM - Compilation complete. Watching for file changes.
Copy
You'll notice that your app.js has been update to reflect the changes you made. So you can simply leave tsc running in the background.